.nav {
  background-color: #3498db;
  padding: 5px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  margin: auto;
}

.menu {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 10px;
}

.menu:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

.active_menu {
  display: block;
  color: #8942ca;
  background-color: #ecf0f1;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.content {
  margin-left: 100px; 
  padding: 16px;
}

.button:hover {
  color: #fff;
}


