table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #477d9c;
    color: white;
}

table caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

table caption > div {
    display: inline-block;
}

table caption > form {
    float: right;
    margin-top: -40px;
}

table input[type=number] {
    width: 80px;
    padding: 5px;
}

table button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table button:hover {
    background-color: #45a049;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
